// bower:scss
// endbower

@import compass
@import compass/reset

.item
    display: inline-block
    height: 200px
    width: 200px
    color: white
    font-size: 20px
    line-height: 200px
    text-align: center
    text-transform: uppercase