<span ng-click="showMenu()" class="click-menu"></span>
<ul>
    <li><a href="#" ng-click="showMenu()">Home</a></li> 
    <li><a href="#/about" ng-click="showMenu()">About</a></li> 
    <li><a href="#/contact" ng-click="showMenu()">Contact</a></li>
    <li><a href="#" ng-click="showMenu()">Profile Name</a></li>
    <li><a href="" ng-click="changeColor()">Change the colors</a></li>
    <li><a href="#/sign-up">Sign up</a></li>
</ul>
<!-- <p>Proudly powered by <a href="https://twitter.com/abattut" target="_blank">Arthur</a></p> -->