<main class="main">
  <div class="ng-scope flex-container" ng-show="counterLoaded">
    <div ng-repeat="item in counters track by $index" class="flex-item" style="background-color: {{item.color}}" ng-click="increaseCounter(item)">
      <p>{{item.name}} : {{item.value}}</p>
    </div>
    <div class="flex-item">
      <form novalidate class="simple-form">
        <input type="text" ng-model="name"><br>
        <button ng-click="addCounter(name)">Add new</button>
      </form>
    </div>
  </div>
  <div class="loader" ng-hide="counterLoaded">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>  
</main>