<main class="pages sign">
    <h1>Sign up</h1>
    <form novalidate>
        <input type="text" placeholder="name" ng-model="user.pseudo" ng-change="checkPseudo(user.pseudo)" required>
        <input type="mail" placeholder="mail" ng-model="user.mail" ng-change="checkMail(user.mail)" required>
        <span>{{state.mail}}</span>
        <input type="password" placeholder="password" ng-model="user.password" required>
        <input type="password" placeholder="type password again" ng-change="checkPassword(user)" ng-model="user.passwordVerif" required>
        <span>{{state.password}}</span>
        <input type="submit" value="Sign up" ng-click="signUp(user)" ng-show="dataState.pseudo && dataState.mail && dataState.password">
    </form>
</main>